.container {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.input {
  max-width: 377px;
  margin-right: 12px;
}

.buttonAdd {
  margin-right: 12px;
}

.buttonDelete {
  margin-right: 80px;
}

.circles {
  display: flex;
  justify-content: center;
  margin: 48px auto auto;
  
}

.circle {
  margin-right: 16px;
}