.block {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.radio {
  margin-right: 40px;
}

.button_sortUp {
  margin-right: 12px;
  width: 205px;
  height: 60px;
}

.button_sortDown {
  margin-right: 80px;
  width: 186px;
  height: 60px;
}

.columns {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 48px auto auto;
  padding: 0;
}

.column {
  margin-right: 10px;
}